*{
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#pageHeader{
    text-align: center;
}

#newBookBtn{
    all: unset;
    padding: 16px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 16px;
    cursor: pointer;
}

#library{
    display: flex;
    flex-wrap: wrap;
}

.book{
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 12px;
    margin: 8px;
    min-width: 143px;
}

.book > *{
    margin-top: 32px;
}

label{
    display: block;
    margin-bottom: 4px;
}

#newBookModal, #newBookForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group{
margin-bottom: 16px;
}

#newBookModal{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}

#newBookForm{
    padding: 32px;
    border-radius: 20px;
    background-color: whitesmoke;
    border: 2px solid black;
}

